<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<script>
$('.tooltip-demo').tooltip({
  selector: "[data-toggle=tooltip]",
  container: "body"
})
</script>

<!--BACKSTRETCH-->
<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
<!-- More options: https://github.com/srobbin/jquery-backstretch -->
<script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
<script>
  applyBackground = function() {
    if (window.matchMedia("(orientation: portrait)").matches) {
      $.backstretch("{{ .Site.Params.background.mobileImage }}"{{ if .Site.Params.background.fade.enable }}, { fade: {{ .Site.Params.background.fade.speed }} }{{ end }});
      $.backstretch([
        "assets/img/bg1.png",
        "assets/img/bg2.png",
        "assets/img/bg3.png"
      ], {duration: 4000});
    } else {
     $.backstretch("{{ .Site.Params.background.image }}"{{ if .Site.Params.background.fade.enable }}, { fade: {{ .Site.Params.background.fade.speed }} }{{ end }});
    }
  };
  applyBackground();

  window.addEventListener("orientationchange", function() {
    applyBackground();
  }, false);
</script>
